.about {
    margin: 0px auto 60px;

    @media (min-width: 600px) {
        margin: 0px auto 140px;
    }

    @media (min-width: 760px) {
        display: flex;
        justify-content: space-between;
    }

    // .about__title

    &__title {
        flex: 1 1 40%;
        margin: 0px 20px 0px 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & p {
            flex: 1 1 auto;
            font-weight: 500;
            font-size: var(--font-size-28);
            line-height: var(--font-size-50);
            margin: 0px 0px 20px 0px;

            @media (min-width: 760px) {
                margin: 0px 0px 0px 0px;
            }
        }

        & button {
            margin: 0px 0px 40px auto;
            @media (min-width: 760px) {
                margin: auto auto 0px 0px;
            }
        }
    }

    & ul {
        & li {
            padding: 0px 0px 0px 25px;
            &:not(:last-child) {
                margin: 0px 0px 10px 0px;
            }
            position: relative;
            &::before {
                content: "";
                position: absolute;
                width: 19px;
                height: 19px;
                left: 0;
                top: 5px;
                background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.16667 9.5L7.91667 14.25L15.8333 4.75' stroke='%23343434' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            }
        }

        & span {
            margin: 0px 0px 0px 25px;
        }
    }
}
