.advantages {
    background-color: var(--color-light-gray);
    padding: 50px 0px;
    margin: 0px auto 60px;

    @media (min-width: 600px) {
        margin: 0px auto 140px;
    }

    & ul {
        & li {
            border-radius: 5px;
            background-color: var(--color-white);
            padding: var(--font-size-24) var(--font-size-28);
            border: 1px solid var(--color-gray);

            & h3 {
                font-weight: 500;
                font-size: var(--font-size-18);
                line-height: var(--font-size-24);
                text-align: center;
                text-transform: uppercase;
                margin: 0px 0px var(--font-size-20) 0px;
            }

            &:not(:last-child) {
                margin: 0px 0px 20px 0px;
            }

            @media (min-width: 380px) {
                margin: 0px 0px 0px 0px;
            }
        }

        @media (min-width: 380px) {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
            gap: var(--font-size-20);
            grid-auto-rows: 1fr;
        }
    }
}
